@media screen and (min-width:320px) and (max-width:480px) {
    .topbar-area {
        display: none;
    }
    .expand-btn-inner ul .humburger .nav-expander .bar {
        max-width: 43px;
        padding-right: 0;
    }
    .slider-des {
        top: -93px;
        /* position: absolute;
    margin: 0;
    left: 1.5rem;
    bottom: 10rem;
    text-align: left; */
    }
    .carousel-item .carousel-caption .slider-des .sl-subtitle {
        font-size: 10px;
    }
    .carousel-item .carousel-caption .slider-des .sl-title {
        font-size: 12px;
    }
    .carousel-item .carousel-caption .slider-des .desc {
        font-size: 10px;
        max-width: 200px;
    }
    .slider-bottom {
        width: 50%;
        font-size: 12px;
    }
    .carousel-control-next {
        left: 10px !important;
    }
    .carousel-control-prev {
        left: 10px !important;
        top: 43px;
        margin-bottom: -18px;
    }
    .carousel-caption a {
        padding: 1px;
    }
    .business-plan .progressbar-1 span {
        margin-left: 16rem!important;
    }
    .business-plan .progressbar-2 span {
        margin-left: 16rem!important;
    }
    .counter .counter-area .content-part .title:before {
        top: 25px;
    }
}

@media screen and (min-width:480px) and (max-width:768px) {
    .topbar-area {
        display: none;
    }
    .carousel-control-next {
        left: 10px !important;
    }
    .carousel-control-prev {
        left: 10px !important;
    }
    .slider-des {
        position: absolute;
        /* margin: 0; */
        left: 1.5rem;
        bottom: 10rem;
        text-align: left;
        top: -93px;
    }
    .carousel-item .carousel-caption .slider-des .sl-title {
        font-size: 26px;
    }
    .carousel-item .carousel-caption .slider-des .desc {
        font-size: 12px;
        max-width: 350px;
        color: black;
    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .topbar-area {
        display: none;
    }
}

@media screen and (min-width:1024px) and (max-width:1200px) {
    .topbar-area {
        display: none;
    }
}