* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.topbar-area {
    background-color: #bb0b0b;
    font-family: 'Poppins', sans-serif;
}

.topbar-area UL {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.topbar-contact li i {
    margin-right: 5px;
}

.topbar-contact li a {
    color: #ffffff;
    font-size: 12px;
}

.topbar-area.style1 .topbar-contact li {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    line-height: 50px;
    font-weight: 500;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    padding-right: 20px;
}

.topbar-area.style1 .topbar-contact ul li:last-child {
    margin: 0;
    padding: 0;
    border-right: none;
}

.text-right {
    text-align: right;
}

.toolbar-sl-share ul .opening {
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    padding-right: 20px;
}

.toolbar-sl-share ul li {
    display: inline-block;
    font-size: 12px;
    line-height: 50px;
}

.toolbar-sl-share ul li i:hover {
    color: #bb0b0b;
}

.toolbar-sl-share ul li a i {
    font-size: 16px;
    margin-right: 5px;
    color: #ffffff;
}

.toolbar-sl-share ul li:last-child {
    margin: 0;
}

.menu-sticky {
    background: #fff;
    margin: 0;
    z-index: 999;
    width: 100%;
    top: 0;
    position: relative;
}

.row-table {
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.menu-area .logo-area img {
    max-height: 40px;
}

/* .nav-menu li a {
    color: #cd4a4a;
    text-decoration: none;
} */

.main-menu ul {
    list-style: outside none none;
    margin: 0;
}

.main-menu .ul.nav-menu li {
    display: inline-block;
    margin-right: 32px;
    /* padding: 0; */
}

/* .main-menu .rs-menu ul.nav-menu li.menu-item-has-children>a {
    padding-right: 17px;
} */

.nav-link {
    transition: all 0.3s ease;
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
    height: 95px;
    line-height: 95px;
    padding: 0;
    color: #ffffff;
    position: relative;
    font-family: Poppins;
}


li.menu-item-has-children > .nav-link:before {
    content: "+";
    position: absolute;
    /* left: auto; */
    right: 0;
    top: -245%;
    /* text-align: center;
    z-index: 9999; */
    font-size: 16px;
    /* display: block; */
    /* cursor: pointer; */
    /* transform: translateY(-50%); */
    font-weight: 400;
}

/* .main-menu .rs-menu ul li a:hover,
.main-menu .rs-menu ul li.current-menu-item>a,
.main-menu .rs-menu ul li.current-menu-item>a:hover {
    color: #bb0b0b !important;
} */
/* .main-menu .nav-item .nav-link.active>a{
    color: #bb0b0b;
}
.main-menu .nav-item .nav-link>a:hover{
    color: #bb0b0b;
}

.menu-area.sticky {
    background: #fff;
}

.menu-area.sticky .logo-area a .sticky-logo {
    display: block;
    max-height: 50px;
} */


.expand-btn-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-area .expand-btn-inner ul {
    display: flex;
    align-items: center;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.menu-area .expand-btn-inner ul li {
    margin-right: 22px;
}

.menu-area .expand-btn-inner ul li a {
    color: #0a0a0a;
}

.menu-area .expand-btn-inner li a:hover {
    color: #bb0b0b;
}

.expand-btn-inner ul li:last-child {
    margin-right: 0;
}

.expand-btn-inner ul .humburger .nav-expander .bar {
    /* padding: 16px 13px 16px; */
    background: transparent;
    max-width: 40px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2px;
    padding-right: 0;
    margin-right: -4px;
}

.expand-btn-inner ul .humburger .nav-expander .bar span {
    height: 5px;
    width: 5px;
    display: block;
    background: #bb0b0b;
    border-radius: 50%;
    transition: none;
    list-style: none;
    transition: all 0.3s ease;
    margin: 2px 3px;
}

.carousel-prev-shape {
    border: none;
    width: 40px;
    font-size: 25px;
    color: #fff;
    background-color: #bb0b0b;
    margin-bottom: 5px;
    position: relative;
    top: -350px;
    left: 0;
}

.carousel-next-shape {
    border: none;
    width: 40px;
    font-size: 25px;
    color: #fff;
    background-color: #bb0b0b;
    position: absolute;
    top: -300px;
    left: 0;
}

.carousel-button {
    position: relative;
}

.slider-des {
    position: absolute;
    /* margin: 0; */
    left: 1.5rem;
    bottom: 10rem;
  text-align: left;
}

.carousel-item .carousel-caption .slider-des .sl-subtitle{
    
    font-size: 16px;
    color: #bb0b0b;
    font-weight: 700;
}
.carousel-item .carousel-caption .slider-des .sl-title{
    color: black;
    /* color: #ffff; */
    font-size:52px;
    font-weight: 700
}
.carousel-item .carousel-caption .slider-des .desc {
    font-size: 18px;
    max-width: 450px;
    color: black;
}

.slider-bottom {
        width: 40%;
        font-size: 12px;
        background-color: #bb0b0b;
        color: #fff;
}

.sub-text {
    font-weight: 600;
    margin: 0 0 10px;
    display: inline-block;
    color: #bb0b0b;
    line-height: 28px;
    font-size: 15px;
    text-transform: uppercase;
}

.first-half h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.title span {
    color: #bb0b0b;
    font-style: oblique;
}

.last-half .desc {
    font-size: 14px;
}

.carousel-caption a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px;

}


/* .carousel-prev-shape{
    position: relative;
}
.carousel-prev-shape::before{
    position: absolute;
    content: '<';
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #bb0b0b;
} */

.carousel-control-next {
    left: -70px;
    bottom: 30px !important;
}

.carousel-control-next-icon {
    background-color: #bb0b0b;
}

.carousel-control-prev {
    left: -70px !important;
    bottom: 120px !important;
}

.carousel-control-prev-icon {
    background-color: #bb0b0b;
}

.carousel-indicators {
    bottom: -60px !important;
    /* background-color: #bb0b0b; */
}

.carousel-indicators button {
    background-color: #bb0b0b !important;
}

#scrollUp {
    text-align: center;
    bottom: 40px;
    cursor: pointer;
    display: none;
    position: fixed;
    right: 20px;
    border-radius: 50px 50px 4px 4px;
}

#scrollUp i {
    height: 40px;
    font-size: 24px;
    width: 42px;
    border-radius: 0;
    color: #fff;
    line-height: 36px;
    transition: all 0.3s ease 0s;
    background: #bb0b0b;
    margin-left: 2px;
    box-shadow: 0 0 2px #54595f;
}

.business-plan.row {
    display: flex;
}

.business-plan .row .sub-text {
    font-weight: 600;
    margin: 0 0 10px;
    display: inline-block;
    color: #bb0b0b;
    line-height: 28px;
    font-size: 15px;
    text-transform: uppercase;
}

.business-plan .row .sec-title2 .title {
    font-size: 36px;
}

.business-plan .row .sec-title2 h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
}

.business-plan .title span {
    color: #bb0b0b;
    font-style: oblique;
}

.business-plan .desc {
    font-weight: 500;
}

.business-plan p {
    margin: 0 0 26px;
    line-height: 1.8;
}

.business-plan .progressbar-1 span {
    margin-left: 22rem!important;
}

.business-plan .progressbar-2 span {
    margin-left: 24rem!important;
}

element.style {
    width: 90%;
}

.progress-bar {
    border-radius: 0 !important;
    background-color: #bb0b0b !important;
}

.business-plan .bus-progressbar button {
    color: #fff;
    text-transform: capitalize;
    background-color: #bb0b0b !important;
    font-size: 20px;
    font-weight: 700;
    border-radius: 0;
    border-style: none;
}

.business-plan .bus-progressbar button:hover {
    background-color: #8d0b0b !important;
}

.business-plan-slider .carousel-item img {
    width: 20%;
}
.logo-grid a {
    transition: all 0.5s ease-in-out;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.hover-logo {
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    top: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform: translateY(-100%);
}

.logo-grid .logo {
    transition: all 0.3s ease-in-out;
    display: block;
    filter: grayscale(1);
}

.logo-grid:hover .hover-logo {
    display: block;
    opacity: 3;
    visibility: visible;
    transform: translateY(0%);
    filter: grayscale(0%);
}

.logo-grid:hover .logo {
    display: block;
    visibility: hidden;
    transform: translateY(100%);
    filter: grayscale(1);
}
.service .section-title {}

.service .section-title span {
    color: #bb0b0b;
    font-style: oblique;
    font-weight: 700;
    font-size: 40px;
}

.service {
    background-color: #ebebeb;
    padding: 80px 0;
}
.service-column .img-size img{
    width: 100px;
    height: 76px;

}
.service-column .img-size .service-desc{
    margin-left: 10px;
}
.service-column .img-size .service-desc h1{
    font-size: 1.5rem;
    font-weight: 700;
}
.service-column img{
    width: 100%;
}
.service .service-border{
   
    border-style: solid;
    border-width: 4px 0px 0px 0px;
    border-color: #BB0B0B08;
  
    margin-top: 60px
}
.service .service-column .animate-border{
    position: relative;
}

.service .service-column .animate-border .popup-border {
    background: #bb0b0b;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -210px;
    transform: translateX(-50%);
}
.service .service-column a {
    color: #bb0b0b;
    transition: all 0.3s ease;
    text-decoration: none !important;
    outline: none !important;
}
.service .service-column .animate-border .popup-border i {
    font-size: 20px;
    line-height: 80px;
    display: block;
    color: #ffffff;
}
.service .service-column .animate-border .popup-border:before {
    content: "";
    border: 2px solid #bb0b0b;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: zoomBig 3.25s linear infinite;
    -webkit-animation-delay: .75s; 
     animation-delay: .75s; 
}
.service .service-column .animate-border .popup-border:after {
    content: "";
    border: 2px solid #bb0b0b;
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    animation: zoomBig 3.25s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
} 
.counter{
    margin-top: 60px
}     

.counter .counter-area .counter-list .counter-icon img {
width: 20%;
} 
.counter .counter-area .counter-list .counter-icon{
    font-size: 50px;
font-weight: 700;
}
.counter .counter-area .counter-list .counter-icon span.prefix {
    font-size: 30px;
    font-weight: 500;
    color: #0a0a0a;
}
.counter .counter-area .content-part .title:before {
    content: "";
    position: absolute;
    border: 0;
    width: 65px;
    height: 5px;
    background: #bb0b0b;
    z-index: 1;
    margin-left: 0;
    left: 4px;
    top: 70px;
}
.counter .counter-area .content-part h5{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #363636;

}
.aimg{
width: 100%;
}

.business-idea span{
    color: #bb0b0b;
    font-style: oblique;
    
}
.business-idea span.sec-title{
    color: #bb0b0b;
    font-weight: 900;
    font-size: 16px;
    font-style: normal;
}
@keyframes zoomBig {
    0% {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 1;
      border-width: 3px;
    }
    40% {
      opacity: .5;
      border-width: 2px;
    }
    65% {
      border-width: 1px;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
      border-width: 1px;
    }
  }
  @keyframes zoomBig {
    0% {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 1;
      border-width: 3px;
    }
    40% {
      opacity: .5;
      border-width: 2px;
    }
    65% {
      border-width: 1px;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
      border-width: 1px;
    }
  }